[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
collections_path     = ~/.ansible/collections
host_key_checking    = False
stdout_callback      = yaml
gathering            = smart
retry_files_enabled  = False
interpreter_python   = auto_silent
forks                = 10

[privilege_escalation]
become               = True
become_method        = sudo
become_ask_pass      = False
