#cloud-config
hostname: {{ item.name }}
fqdn: {{ item.name }}.lab.local
manage_etc_hosts: true

users:
  - name: {{ vm_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - {{ vm_ssh_pubkey }}

ssh_pwauth: false
disable_root: true

package_update: true
package_upgrade: false
packages:
  - qemu-guest-agent
  - python3
  - python3-apt
  - curl
  - vim
  - net-tools

runcmd:
  - systemctl enable --now qemu-guest-agent
  - echo "cloud-init finished on {{ item.name }}" > /etc/motd

growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false
